<html>
    <meta charset="UTF-8">
    <title>Print Content</title>
    <body>
        <ul>
            <% items.forEach(function(item) { %>
                <li><%= item['title'] %> <%= item['content'] %></li>
            <% }); %>
        </ul>
    </body>
</html>
