<html>
  <head>
    <title>로그인</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  </head>
  <body>
    <div class="container">
      <form action="/login" method="post">
        <figure>
          <p>
            <label>아이디</label>
            <input type="text" name="username" />
          </p>
          <p>
            <label>비밀번호</label>
            <input type="password" name="password" />
          </p>
          <button style="width: 100%" type="submit">로그인</button>
        </figure>
      </form>
      <center><a href="#">회원가입</a></center>
    </div>
  </body>
</html>
