<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>홈페이지</title>
  <style>
    table, th, td {
      border: 1px solid white;
      border-collapse: collapse;
    }
    th, td {
      background-color: orange;
    }
    ul#menu li {
      display:inline;
    }
  </style>
</head>
<body>
  <%- include('../layouts/header') %>
    
  <main>
    <h2>Welcome to Website!</h2>
    <p>This is the homepage.</p>
  </main>
    
  <%- include('../layouts/footer') %>
</body>
</html>