<html></html>
    <head>
        <title>홈페이지</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">        
    </head>
    <body>
        <div class="container">
            <pre>
                <code>
                    def main():
                        print("This is home page")
                </code>
            </pre>
            
        </div>
    </body>
</html>