<html>
  <head>
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  </head>
  <body>
    <div class="container">
      <form method="post" action="/login">
        <figure>
          <p>
            <label>아이디</label>
            <input type="text" name="username" />
          </p>
          <p>
            <label>비밀번호</label>
            <input type="password" name="password" />
          </p>
          <button type="submit">로그인</button>
        </figure>
        <a href="/register">회원가입</a>
      </form>
    </div>
  </body>
</html>
