<header>
  <h1>My Website</h1>
  <nav>
    <ul id="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/list">Board</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
